<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Index</title>
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8" />
</head>
<body>
	<nav th:replace="_layout :: header"></nav>
	<div>
		<h1>NỘI DUNG NẰM Ở ĐÂY</h1>
	</div>
	<footer th:replace="_layout :: footer"></footer>
</body>
</html>