<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Page</title>
<meta charset="UTF-8" />
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8" />
</head>
<body>
	<nav th:replace="_layout :: header"></nav>
	<div class="main-content">
		<p th:if="${param.error}" class="error col-sm-offset-2 col-sm-10">Invalid
			email or password</p>
		<form id="loginForm" class="form-horizontal" action="#"
			th:action="@{/login}" method="post">
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Email:</label>
				<div class="col-sm-5">
					<input type="email" name="email" class="form-control" id="email"
						placeholder="Nhập email" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Mật khẩu:</label>
				<div class="col-sm-5">
					<input type="password" name="password" class="form-control"
						id="pwd" placeholder="Nhập mật khẩu" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label><input type="checkbox" /> Ghi nhớ đăng nhập</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Đăng nhập</button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="_layout :: footer"></footer>
</body>
</html>